body {
  background-color: black;
}

.wrapper {
  background-color: rgb(38, 37, 37);
  max-width: 1500px;
  margin: 0 auto;
  border: .15rem solid rgb(255, 14, 155);
  border-radius: .5rem;
}

header {
  display: flex;
 background-color: black;
 font-family: "Cormorant Garamond", serif;
}

h1 {
  display: flex;
  font-size: 20px;
  padding: 1rem;
  color: rgb(151, 147, 147);
  align-items: center;
  font-family: "Cormorant Garamond", serif;
}

nav ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav li{
  list-style-type: none;
  padding: 1rem 2rem;
}

nav a{
  color: rgb(255, 14, 155);
  text-decoration: none;
  padding: 1rem 2rem;
}

nav a:hover{
  background-color: rgb(255, 14, 155);
  color: rgb(79, 77, 77);
  border-radius: 15px;
}

main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
  padding: 15px;
  margin-right: 1rem;
}

.title{
  font-size: 400%;
  color:rgb(151, 147, 147);
  font-family: "Cormorant Garamond", serif;
}


.services {
  display: grid;
  gap: 10px;
  margin-bottom: 15px;
}

.braids {
  background-image: url(images/black\ background.jpg);
  min-height: 30vh;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem;
}

.locs {
  background-image: url(images/black\ background.jpg);
  min-height: 30vh;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem;
}

.natural {
  background-image: url(images/black\ background.jpg);
  min-height: 30vh;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem;
}

.wigs {
  background-image: url(images/black\ background.jpg);
  min-height: 30vh;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem;
}

h2 {
  color: rgb(255, 14, 155);
  font-family: "Hina Mincho", serif;
}


h3 {
  color: rgb(151, 147, 147);
  font-family: "Cormorant Garamond", serif;
}

.content {
  display: grid;
  grid-template-columns: 2fr 2fr;
  line-height: 2;
}

table {
  color: white;
}

p {
  color: white;
  font-family: "Cormorant Garamond", serif;
}

.nav-left {
  background-color: rgb(255, 14, 155);
  display: grid;
  justify-content: center;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: .5rem;
  font-family: "Cormorant Garamond", serif;
}

.nav-left a {
  color: black;
}

.nav-left a:hover {
  color: rgb(151, 147, 147);

}

footer {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  font-size: 40px;
  padding: 0.5rem 1rem;
  color: rgb(255, 14, 155);
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  font-family: "Cormorant Garamond", serif;
}

.footer {
  color: rgb(255, 14, 155);
}

.socials {
  line-height: 1.5;
  background-color: rgb(79, 77, 77);
  border-radius: 15px;
  margin: 10px;
  padding: .5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 125%;
}

.address {
  line-height: 2.5;
  background-color: rgb(79, 77, 77);
  border-radius: 15px;
  margin: 10px;
  padding: .5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 125%;
}

.hours {
  line-height: 3;
  background-color: rgb(79, 77, 77);
  border-radius: 15px;
  margin: 10px;
  padding: .5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 125%;
}

footer a {
  color: rgb(255, 14, 155);
  padding: 1rem 2rem;
  text-decoration: none;
}

footer a:hover {
  background-color: rgb(255, 14, 155);
  color: rgb(79, 77, 77);
  border-radius: 10px;
}